<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title th:text="#{title.app.top}"></title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/items" th:text="#{label.app.top.header}"></a>
			</div>
		</div>
    </nav>
	<div class="container">
		<div class="card card-primary mb-3">
  			<div class="card-header">
  				<h5 class="card-title">商品リスト<a href="/items/new" class="btn btn-success float-right">新規</a></h5>
  			</div>
  			<div class="card-body" th:if="!${items.size()}">
     			<p th:text="#{message.app.top.noitem}"></p>
   			</div>
   			<table class="table table-striped" th:if="${items.size()}">
     			<thead>
       				<tr>
         				<th style="width: 10%" th:text="#{label.app.new.list0}"></th>
         				<th style="width: 30%" th:text="#{label.app.new.list1}"></th>
         				<th style="width: 10%" th:text="#{label.app.new.list1}"></th>
         				<th style="width: 20%" th:text="#{label.app.new.list3}"></th>
         				<th style="width: 30%"></th>
       				</tr>
     			</thead>
     			<tbody>
       				<tr th:each="item:${items}" th:object="${item}">
         				<td th:text="*{id}"></td>
         				<td th:text="*{name}"></td>
         				<td th:text="*{price}"></td>
         				<td th:text="*{vendor}"></td>
         				<td class="float-right">
	         				<form th:action="@{/items/{id}(id=*{id})}" th:method="delete">
	         					<a class="btn btn-primary" th:href="@{/items/{id}(id=*{id})}" th:text="#{label.app.top.button1}"></a>
	         					<a class="btn btn-primary" th:href="@{/items/{id}/edit(id=*{id})}" th:text="#{label.app.top.button2}"></a>
								<button class="btn btn-primary" th:text="#{label.app.top.button3}"></button>
							</form>
         				</td>
       				</tr>
     			</tbody>
   			</table>
  		</div>
	</div>
 	<script src="/js/jquery-3.4.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>