<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title th:text="#{label.app.show.title}"></title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/items" th:text="#{label.app.top.header}"></a>
			</div>
		</div>
    </nav>
	<div class="container">
		<div class="card card-primary mb-3">
  			<div class="card-header">
  				<h5 class="card-title" th:text="#{label.app.show.title}"></h5>
  			</div>
			<div class="card-body">
		        <div th:object="${item}">
		        	<div class="form-group row">
		        		<label class="col-md-2" th:text="#{label.app.new.list1}"></label>
						<div class="col-md-10" th:text="*{category}"></div>
		          	</div>
		          	<div class="form-group row">
		            	<label class="col-md-2 control-label" th:text="#{label.app.new.list4}"></label>
		            	<div class="col-md-10 form-control-static" th:text="*{date}"></div>
		          	</div>
		          	<div class="form-group row">
		            	<label class="col-md-2 control-label" th:text="#{label.app.new.list2}"></label>
		            	<div class="col-md-10 form-control-static" th:text="*{expenses}"></div>
		          	</div>
		          	<div class="form-group row">
		            	<label class="col-md-2 control-label" th:text="#{label.app.new.list3}"></label>
		            	<div class="col-md-10 form-control-static" th:text="*{memo}"></div>
		          	</div>
				</div>
			</div>
		</div>
    </div>
    <script src="/js/jquery-3.4.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>